@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --aqua-100: #44b7a2;

  --bg-color: #161616;
  --card-color: #1e1e1e;
  --text-color: #ffffff;

  --heading: #010101;
}

body {
  background-color: var(--bg-color);
}

input,
textarea {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 400;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

