
.main__content {
    width: 60%;
    max-width: 62.5rem;
  
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
  
    column-gap: 45px;
    row-gap: 30px;
    align-items: flex-start;
    justify-content: center;
  
    margin-top: 64px;
  
    padding-bottom: 80px;
  }
  
  .content__card {
    width: 475px;
    height: 120px;
  
    border: 1px solid #2f3030;
    border-radius: 8px;
  
    background-color: var(--card-color);
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  
    transition: all 0.3s ease-in-out;
  
    cursor: pointer;
  }
  
  .content__card:hover {
    transform: translateY(-10px);
  }
  
  .card__text {
    display: flex;
  
    justify-content: center;
  
    flex-direction: column;
    gap: 8px;
  }
  
  .country__text {
    font-size: 20px;
    font-weight: bold;
  
    color: var(--text-color);
  }
  
  .country__link {
    font-size: 16px;
  }
  
  .card-country__img {
    width: 94px;
    height: 64px;
  
    border-radius: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .main__content {
      grid-template-columns: 1fr;
    }
  
    .content__card {
      width: 375px;
      height: 100px;
    }
  
    .card-country__img {
      width: 62px;
      height: 48px;
    }
  }
    